:root {
    --rosso-sconto: #E70203;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #FF6801;
    box-shadow: 0px 1px 5px rgb(88, 88, 88);
    position: fixed;
    z-index: 5;
    width: 100%;
}

.nav-bar {
    width: 1200px;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 13px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.link {
    width: 15%;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
}

.link a {
    text-decoration: none;
    color: white;
}

.nav-logo {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.icone-nav {
    width: 15%;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    justify-content: flex-end;
}

.icone-nav button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.cont-prodotti {
    width: 1200px;
    margin: 0 auto;
    padding-top: 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prodotto {
    margin-bottom: 50px;
}

.img-prodotto {
    height: 555px;
    width: 31%;
    position: relative;
}

.img-prodotto img {
    height: 100%;
}

.wishlist {
    background-color: white;
    padding: 10px;
    position: absolute;
    left: 349px;
    top: 8px;
}

.over-prodotto {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 30px;
}

.sconto {
    background-color: var(--rosso-sconto);
    padding: 4px 8px 4px 8px;
    color: white;
    font-weight: bold;
}

.sostenibilita {
    background-color: #027503;
    padding: 4px 8px 4px 8px;
    color: white;
    font-weight: bold;
}

.info-prodotto {
    padding-top: 4px;
}

.prezzo {
    display: flex;
    gap: 5px;
}

.prz-sconto {
    color: var(--rosso-sconto);
    font-weight: bold;
}

.prz-intero {
    text-decoration: line-through;
    color: #222;
}

footer {
    background-color: #191919;
}

.cont-footer {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.ragione-sociale {
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
}

.pag-legali {
    display: flex;
    gap: 11px;
}

.pag-legali a{
    color: white;
    text-decoration: none;
}

.social p {
    color: white;
    padding-bottom: 10px;
    font-size: 13px;
}

.icone-social {
    color: white;
    display: flex;
    gap: 6px;
    font-size: 21px;
}